
body {
    margin-left: 50px;
}


table {
    border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0;
}

td:first-child {
	border-left: 3px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:first-child td {
	border-top: 3px solid black;
}

tr:nth-child(3n) td {
	border-bottom: 3px solid black;
}

input[type="text"] {
  text-align: center;
	padding: 0;
	border: 0;
  margin: 0;
  height: 50px;
	width: 50px;
  font-size: 25px;
}

input:disabled {
  background-color: white;
}

tr:nth-child(-n+3) td:nth-child(-n+3) input,
tr:nth-child(-n+3) td:nth-child(n+7) input,
tr:nth-child(n+4):nth-child(-n+6)
td:nth-child(n+4):nth-child(-n+6) input,
tr:nth-child(n+7) td:nth-child(-n+3) input,
tr:nth-child(n+7) td:nth-child(n+7) input {
  background-color: rgb(240,240,240);
}

#brett input:hover:enabled {
  background-color: rgb(0,80,158);
  cursor: pointer;
}

#brett input:focus {
  outline: none;
  background-color: rgb(0,80,158);
  /* Gjør at musepekeren ikke vises i valgt celle */
  color: transparent;
  text-shadow: 0 0 white;
}

#brett input::selection {
  background-color: transparent;
}



div {
    font-family: "Arial", Gadget, sans-serif;
}

#regler {
    width: 452px;
    padding: 5px;
    border: 3px solid #4CAF50;;
    border-radius: 10px;
}

#vanskelighetsvalg {
    width: 452px;
    display: flex;
    justify-content: space-around;
}

.vanskelighetsgrad {
    width: 30%;
    background-color: white;
    color:black;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.vanskelighetsgrad:hover:enabled {
    background-color: lightgray;
    cursor: pointer;
}

#poengsum > :first-child {
    width: 452px;
    padding: 5px;
    background-color: white;
    color:black;
    border: 3px solid #4CAF50;
    border-radius: 5px;
}

#ui input {
    background-color: white;
    color:black;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

#ui input:hover:enabled {
    background-color: lightgray;
    cursor: pointer;
}
