#brett {
  background-repeat: no-repeat;
  background-size: cover;
}

#notater {
  position: absolute;
  z-index: -1;
}

table {
    border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0;
}

td:first-child {
	border-left: 3px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:first-child td {
	border-top: 3px solid black;
}

tr:nth-child(3n) td {
	border-bottom: 3px solid black;
}

.celle, .notat {
  color: transparent; /* Gjør at musepekeren ikke vises i valgt celle */
  text-shadow: 0 0 black;
  text-align: center;
  background-color: transparent;
	border: 0;
  margin: 0;
}

.celle:focus, .notat:focus {
  outline: none;
  text-shadow: 0 0 white;
}

.celle:hover, .notat:hover {
  cursor: pointer;
  background-color: #00509e;
}

.celle {
  padding: 0;
  height: 50px;
	width: 50px;
  font-size: 25px;
}

.notat {
  padding-right: 25px;
  padding-bottom: 24px;
  height: 25px;
	width: 25px;
}

/* Setter bakgrunnsfarge på annenhver 3x3-boks. OBS! Deaktivert*/
/*tr:nth-child(-n+3) td:nth-child(-n+3) input,
tr:nth-child(-n+3) td:nth-child(n+7) input,
tr:nth-child(n+4):nth-child(-n+6)
td:nth-child(n+4):nth-child(-n+6) input,
tr:nth-child(n+7) td:nth-child(-n+3) input,
tr:nth-child(n+7) td:nth-child(n+7) input {
  background-color: rgb(240,240,240);
}*/
